[server]
# username for running the daemon
username = electrum
# hostname. set it to a FQDN in order to be reached from outside
host = electrum-morningstar.space
# ports
electrum_rpc_port = 8000
stratum_tcp_port = 30186
#stratum_tcp_ssl_port = 30086
#report_host = 
#report_stratum_tcp_port = 30186
#report_stratum_tcp_ssl_port = 30086
banner = Welcome to Electrum-MORNINGSTAR!
banner_file = /etc/electrum-morningstar.banner
irc = yes
irc_nick = <yournickname>
ssl_certfile = /path/to/server.crt
ssl_keyfile = /path/to/server.key
logfile = /var/log/electrum-morningstar.log
donation_address = 

[leveldb]
# path to your database
path = 
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 10000

[bitcoind]
bitcoind_host = localhost
bitcoind_port = 20102
# user and password from Morningstar.conf
bitcoind_user = 
bitcoind_password = 
